<!doctype html>

<html lang="en">

  {{ partial "head.html" . }}

  <body>

    {{ partial "header.html" . }}

    {{ $skills := ( slice (dict "title" "Web Design" "percentage" 84) (dict "title" "Web Development" "percentage" 95) (dict "title" "Site Managment" "percentage" 70) (dict "title" "Branding" "percentage" 61) ) }}

    {{ $testimonials := (slice (dict "quote" "Reprehenderit eos et non et ut eum reprehenderit quis sequi quia vel repellendus id. Velit quit blanditiis dolor quam error eos dolores sequi eaque rerum est. Velit quit blanditiis dolor quam error eos dolores sequi eaque rerum est." "author" "David White, Designer at Huglab") (dict "quote" "Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat consectetuer sit amet magna adipiscing." "author" "David White, Designer at Huglab") (dict "quote" "Reprehenderit eos et non et ut eum reprehenderit quis sequi quia vel repellendus id. Velit quit blanditiis dolor quam error eos dolores sequi eaque rerum est." "author" "David White, Designer at Huglab")) }}

    <div class='full parallax' style='background-image: url(images/@stock/about-us.jpg); color: #fff;'>
      <div class='row'>
        <div class='twelve columns'>
          {{ partial "section_header.html" (dict "title" "About us" "color" "#fff" "tagline" "Know something about our team" "class" "big") }}
        </div>
      </div>
      <div class='four spacing'></div>
    </div>

    <div class='full'>
      <div class='row'>
        <div class='medium-6 columns'>
          <h3>Our history</h3>
          <p>Consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat consectetuer sit amet magna adipiscing. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat consectetuer sit amet magna adipiscing.</p>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat consectetuer sit amet magna adipiscing.</p>
        </div>
        <div class='medium-6 columns'>
          <h3>Our skills</h3>
          <div class='mod modBarGraph'>
            <ul class='bars'>
              {{ range $skills }}
              <li>
                <h4 style=''>
                  {{.title}}
                  <strong>{{.percentage}}%</strong>
                </h4>
                <p class='highlighted' data-percent='{{.percentage}}'></p>
              </li>
              {{ end }}
            </ul>
          </div>
        </div>
      </div>
    </div>


    <div class='full'>
      <div class='row'>
        {{ range sort .Site.Data.team "weight" "asc" }}
        <div class='small-6 medium-3 large-3 columns'>
          <div class='mod modTeamMember'>
            <div class='member'>
              <img class="avatar" alt="" src="{{ .avatar | relURL}}" />
              <div class='overlay'>
                <div class='intro'>
                  <h3>{{.name}}</h3>
                  <p>{{.position}}</p>
                  {{ partial "member_social.html" . }}
                </div>
              </div>
            </div>
            <p class='centered-text'>{{.text}}</p>
            <div class='two spacing'></div>
          </div>
        </div>
        {{ end }}
      </div>
    </div>


    <div class='full parallax' style='background: #f5f5f5'>
      <div class='row'>
        <div class='large-12 columns'>
          <p class='centered-text'>
            <i class='fa fa-quote-left' style='color: #F9CE06; font-size: 36px;'></i>
          </p>
        </div>
      </div>
      <div class='row'>
        <div class='large-12 columns'>
          {{ partial "section_header.html" (dict "title" "What our clients say") }}
          <div class='spacing'></div>
        </div>
      </div>
      <div class='row'>
        <div class='large-12 columns'>
          <div class='mod modTestimonials'>
            <div class='row'>
              <div class='small-12 columns'>
                <div class='items centered-text'>
                  {{ range $testimonials }}
                  <div class='item'>
                    <p class='quote'>"{{ .quote}}"</p>
                    <p class='author'>- {{ .author}}</p>
                    <div class='two spacing'></div>
                  </div>
                  {{ end }}
                </div>
              </div>
              <div class='spacing'></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    {{ partial "our_customers.html" }}
    {{ partial "footer.html" . }}
  </body>
</html>
