<!doctype html>

<html lang="en">

  {{ partial "head.html" . }}

  <body>

    {{ partial "header.html" . }}

    <div id='main' role='main'>

      {{ if .Site.Params.main_slider.enable  }}
        {{ partial "main_slider.html" . }}
      {{ end }}

      <div class="four spacing"></div>

      <div class="row">
        {{ range $index, $element := .Site.Data.features }}
        <div class="medium-4 large-4 columns">
          {{ partial "icon_text.html" (dict "title" .name "desc" .description "icon_class" .icon "delay" (mul 300 $index) "shape_class" "icon-text-circle") }}
        </div>
        {{ end }}
      </div>

      <div class="spacing"></div>

      {{ if .Site.Params.works.enable  }}
      <div class="full" style="background: #f5f5f5;">
        <div class="row">
          <div class="large-12 columns">
            {{ partial "section_header.html" (dict "title" "Our works") }}
            {{ with .Site.Params.works.teaser }}
            <div class="spacing"></div>
            <p>{{.}}</p>
            <div class="three spacing"></div>
            {{ end }}
          </div>
        </div>

        <div class="mod modGallery">
          <ul class="gallery small-block-grid-2 medium-block-grid-3 large-block-grid-4">
            {{ range (where (where .Site.Pages "Section" "projects") ".Params.front_page" "==" true ) }}
            <li class="{{ delimit .Params.categories " " }}">
              <a href='{{ .RelPermalink }}'>
                <img src="{{ with .Params.banner }}/img/projects/thumbs/{{ replaceRE "\\.(\\w{3})$" "_thumb.$1" . }}{{else}}/images/@stock/work-1.jpg{{end}}" alt="" src="" />
                <div class='overlay'>
                  <div class='thumb-info'>
                    <h3>{{ .Title }}</h3>
                    <p>{{ .Params.summary_text }}</p>
                  </div>
                </div>
              </a>
            </li>
            {{ end }}
          </ul>
        </div>
      </div>
      {{ end }}

      <div class='full'>
        <div class='row'>
          <div class='large-12 columns'>
            {{ partial "section_header.html" (dict "title" "Our services") }}
            <div class='spacing'></div>
            <p>
              Our services range across economic and population modelling and impact analysis; developing online spatial, data visualisation and decision support tools; spatial analytics; and urban and regional planning.
            </p>
            <div class='three spacing'></div>
          </div>
        </div>
        <div class='row'>
          <div class='medium-6 columns'>
            <img class="fadeinleft" alt="" src="images/Geografia/responsive.png" />
            <div class='three spacing'></div>
          </div>
          <div class='medium-6 columns'>
            {{ range $index, $element := .Site.Data.features }}
            <div class='fadein mod modIconText' data-delay={{ mul $index 300 }}>
              <div class='icon-text-simple'>
                <i class='fa fa-{{ .icon }}'></i>
                <h3>{{ .name }}</h3>
                <p>{{ .description }}</p>
              </div>
              <div class='two spacing'></div>
            </div>
            {{ end }}
          </div>
        </div>
        <div class='spacing'></div>
      </div>


      <div class='full parallax' style='background-image: url(images/Geografia/milestone-bg.jpg); color: #fff;'>
        <div class='row'>
          <div class='large-12 columns'>
            {{ partial "section_header.html" (dict "title" "Recent Achievements" "color" "#fff") }}
            <div class='spacing'></div>
            <p class='centered-text' style='color: #ccc;'>
              As well as all of our ongoing project work, we continue to invest in R&D, developing online apps, better modelling techniques and exploring new data; write short and long-form articles on our findings; and deliver conference papers aimed at improving the planning and development of our cities and towns.
            </p>
            <div class='two spacing'></div>
          </div>
        </div>
        <div class='row'>
          {{ range .Site.Data.milestones }}
          <div class='medium-3 large-3 columns'>
            <div class='mod modMilestone'>
              <i class='fa fa-{{.icon}}'></i>
              <strong data-from='{{.from}}' data-to='{{.to}}'>&nbsp;</strong>
              <span>{{ .title}}</span>
              <div class='four spacing'></div>
            </div>
          </div>
          {{ end }}
        </div>
        <div class='two spacing'></div>
      </div>

      <div class='full'>
        <div class='row'>
          <div class='large-12 columns'>
            {{ partial "section_header.html" (dict  "title" "Our team") }}
            <div class='spacing'></div>
            <p>
              Our team includes economists, demographers, planners, data scientists and software developers. We combine a depth of experience with new talent and energy and work with a set of regular collaborators when we need to scale up.
            </p>
            <div class='two spacing'></div>
          </div>
        </div>

        {{ partial "members_list" .Site.Data.team.list }}

        <div class='row'>
          <div class='large-12 columns'>
            {{ partial "section_header.html" (dict  "title" "Our Associates") }}
            <div class='spacing'></div>
            <div class='two spacing'></div>
          </div>
        </div>

        {{ partial "members_list" .Site.Data.associates }}

      </div>

      <div class='full' style='background: #f5f5f5'>
        <div class='row'>
          <div class='large-12 columns'>
            {{ partial "section_header.html" (dict "title" "Our recent posts") }}
            <div class='spacing'></div>
            <p>
              Everyone at Geografia wants to share ideas to improve the places we live in and the way we all work. We share some of these ideas through these posts.
            </p>
            <div class='two spacing'></div>
          </div>
        </div>

        <div class='row blogs'>
          
        </div>


        <div class='two spacing'></div>
        <div class='row'>
          <div class='large-12 columns'>
            <p class='centered-text'>
              <a class='button' target="_blank" rel="noopener" href='https://blog.geografia.com.au'>See more posts</a>
            </p>
          </div>
        </div>
        <div class='two spacing'></div>
      </div>


      {{ partial "our_customers.html" . }}


      <div class='full no-padding' style='background: #fff'>
        <div class='two spacing'></div>
        {{ partial "call_to_action.html" . }}
        <div class='spacing'></div>
      </div>
    </div>
    {{ partial "footer.html" . }}
  </body>
</html>
