<a name="contact" class="anchor"></a>
<section class="contacts-3 bg-clouds">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="heading text-center">
          <h2>{{ .Site.Params.addresses.title }}</h2>
        </div>
        {{ if isset .Site.Params "addresses" }}
          {{ if .Site.Params.addresses.enable }}
            {{ if gt (len .Site.Data.addresses) 0 }}
              {{ range .Site.Data.addresses }}
                <div class="col-sm-6">
                  <address>
                  <h3>{{ .title }}</h3>
                  <p>
                    <strong>
                      {{ .subtitle | markdownify}}
                    </strong>
                  </p>
                  <a rel="noopener" href="tel:{{.phone}}">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                    {{ .phone }}</a>
                  <br>
                  <a rel="noopener" href="mailto:{{ .email}}">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                    {{ .email}}</a>
                  <br>
                  <a rel="noopener" href="{{ .linkedin }}">
                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                    Linked In</a>
                  </address>
                  <address>
                    <strong>{{ .address | markdownify}}</strong>
                  </address>
                  <iframe width='100%' height='300px' frameBorder='0' src='{{ .map_gist_url }}'></iframe>
                </div>
              {{ end }}
            {{ end }}
          {{ end }}
        {{ end }}
      </div>
    </div>
  </div>
</section>
