{{ if isset .Site.Params "team" }}
{{ if .Site.Params.team.enable }}
{{ if gt (len .Site.Data.team) 0 }}
<a name="team" class="anchor"></a>
<section class="bar background-pentagon no-mb">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="heading text-center">
          <h2>{{ .Site.Params.team.title }}</h2>
        </div>

        <p class="lead">
          {{ .Site.Params.team.subtitle }}
        </p>

        <div class="container-fluid">
          <div class="testimonials">
            {{ range sort .Site.Data.team "weight" "asc" }}
            <div class="testimonial col-md-3 col-sm-6">
              <div class="text">
                <div class="photo-wrapper">
                  <img class="img-responsive photo" alt=""
                      style="background-image:url('{{ .avatar | absURL }}');"/>
                </div>
                <h4>{{ .name }}</h4>
                <p><b>{{ .position }}</b></p>
                {{ .text }}
              </div>
              <div class="overlay">
                {{ if isset . "linkedin" }}
                <a target="_blank" rel="noopener" href="{{.linkedin}}">
                  <i class="fa fa-linkedin" aria-hidden="true"></i></span></a>
                {{ end }}
                {{ if isset . "email" }}
                <a target="_blank" rel="noopener" href="mailto:{{.email}}">
                  <i class="fa fa-envelope" aria-hidden="true"></i></span>
                </a>
                {{ end }}
                {{ if isset . "website" }}
                <a target="_blank" rel="noopener" href="{{.website}}">
                  <i class="fa fa-external-link-square" aria-hidden="true"></i>
                  </span></a>
                {{ end }}
              </div>
            </div>
            {{ end }}
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
<!-- /.bar -->
{{ end }}
{{ end }}
{{ end }}
