<div id='footer'>
  <div class='three spacing'></div>
  <div class='row'>
    <div class='large-3 medium-3 columns'>
      <h1>
        <a href='index.html'>
          <img alt="" src="{{ .Site.BaseURL }}/images/logo-grey.png" />
        </a>
      </h1>
      <p>©2016 Geografia.</p>
      <div class='spacing'></div>
      <div class='spacing'></div>
    </div>
    <div class='large-3 medium-3 columns'>
      <div class='spacing'></div>
      <div class='links'>
        <h4>Some pages</h4>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/projects">View some works here</a></li>
          <li><a href="//blog.geografia.com.au">Follow our blog</a></li>
          <li><a href="/contact">Contact us</a></li>
          <li><a href="/services">Our services</a></li>
        </ul>
      </div>
      <div class='spacing'></div>
    </div>
    <div class='large-3 medium-3 columns'>
      <div class='spacing'></div>
      <div class='links'>
        <h4>Recent posts</h4>
        <ul class="recent_from_medium">
          <!-- {{ range (first 4 (where .Site.Pages.ByDate.Reverse "Section" "blog")) }}
               <li><a href="{{ .RelPermalink }}">{{ .Title}}</a></li>
               {{ end }} -->
        </ul>
      </div>
      <div class='spacing'></div>
    </div>
    <div class='large-3 medium-3 columns'>
      <div class='spacing'></div>
      <h4>Contact us</h4>
      <ul>
        {{ with .Site.Params.phone }}
        <li>
          <a href="tel:{{.}}">
            Phone: {{ . }}
          </a>
        </li>
        {{ end}}
        {{ with .Site.Params.email }}
        <li>
          <a href="mailto:{{.}}">
            Email: {{ . }}
          </a>
        </li>
        {{ end }}
        {{ with .Site.Params.address }}
          <div class="vcard">
            <div class="adr">
              <p style="color:#999;font-family:monospace;font-size:14px;">
                <span class="street-address">
                  {{replace .street_address "\n" "<br/>" | safeHTML}}
                </span>
                <span class="locality">
                  {{replace .loaclity "\n" "<br/>" | safeHTML}}
                </span>
                <br/>
                <span class="postal-code">
                  {{replace .postal_code "\n" "<br/>" | safeHTML}}
                </span>
                <br/>
                <span class="country-name">
                  {{replace .country_name "\n" "<br/>" | safeHTML}}
                </span>
              </p>
            </div>
          </div>

        {{ end }}
      </ul>
      <div class='spacing'></div>
      <ul class='socials'>
        {{ with .Site.Params.facebook }}
        <li>
          <a href='{{.}}'>
            <i class='fa fa-facebook'></i>
          </a>
        </li>
        {{ end }}
        {{ with .Site.Params.twitter }}
        <li>
          <a href='{{.}}'>
            <i class='fa fa-twitter'></i>
          </a>
        </li>
        {{ end }}
        {{ with .Site.Params.dribbble }}
        <li>
          <a href='{{.}}'>
            <i class='fa fa-dribbble'></i>
          </a>
        </li>
        {{ end }}
        {{ with .Site.Params.tumblr }}
        <li>
          <a href='{{.}}'>
            <i class='fa fa-tumblr'></i>
          </a>
        </li>
        {{ end }}
        {{ with .Site.Params.linkedin }}
        <li>
          <a href='{{.}}'>
            <i class='fa fa-linkedin'></i>
          </a>
        </li>
        {{ end }}
      </ul>
      <div class='spacing'></div>
    </div>
  </div>
  <div class='two spacing'></div>
</div>

<script src="{{ "/js/medium_feed.js" | relURL }}" type="text/javascript"></script>
<script src="{{ "/js/jquery.countTo.js" | relURL }}" type="text/javascript"></script>
<script src="{{ "/js/jquery.appear.js" | relURL }}" type="text/javascript"></script>
<script src="{{ "/js/jquery.validate.js" | relURL }}" type="text/javascript"></script>
<script src="{{ "/js/jquery.sequence-min.js" | relURL }}" type="text/javascript"></script>
<script src="{{ "/js/jquery.easing.1.3.js" | relURL }}" type="text/javascript"></script>
<script src="{{ "/js/app.js" | relURL }}" type="text/javascript"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-86661193-1', 'auto');
  ga('send', 'pageview');
</script>
