<div class='contain-to-grid sticky'>
  <nav class='top-bar' data-options='sticky_on: all' data-topbar=''>
    <ul class='title-area'>
      <li class='name'>
        <h1>
          <a href='{{ "/" | relURL }}'>
            <img alt="" src="{{ "/images/geografia_logo.svg" | relURL }}" onerror="this.onerror=null; this.src='{{.Site.BaseURL}}/images/geografia_logo.png'"/>
          </a>
        </h1>
      </li>
      <li class='toggle-topbar menu-icon'>
        <a href='#'>Menu</a>
      </li>
    </ul>
    <section class='top-bar-section'>
      <ul class="right">

        {{ $.Scratch.Add "currenturl" .URL }}

        {{ range .Site.Menus.main }}
        <li class="{{if .HasChildren}}has-dropdown{{end}} {{if (eq (replaceRE "/$" "" ($.Scratch.Get "currenturl")) (replaceRE "/$" "" .URL)) }} active{{end}}">
            <a href="{{ .URL | relURL }}">{{ .Name }}</a>
            {{ if .HasChildren }}
              <ul class='dropdown'>
                {{ range .Children }}
                <li>
                  <a href="{{ .Path | relURL }}">{{ .Name }}</a>
                </li>
                {{ end }}
              </ul>
            {{ end }}
          </li>
        {{ end }}
      </ul>
    </section>
  </nav>
</div>
