<li class="">
<!-- <li class="delimit .Params.categories " ""> -->

  <a href='{{ .Params.link }}'>
    <div class="item-title" style="font-weight:bold;font-size:14px;z-index: 1;position: absolute;padding-left:50%;padding-left:50%;width: 100%;color: white;background-color: #222;opacity: 0.9;">{{.Title}}</div>

    <img style="width:400px;height:269px;background-size:cover;background-image:url({{ with .Params.banner }}{{ . }}{{else}}/images/@stock/work-1.jpg{{end}});" alt="" src="" />
    <div class='overlay'>
      <div class='thumb-info'>
        <h3>{{ .Title }}</h3>
        <p>{{ .Params.summary_text }}</p>
      </div>
    </div>
  </a>
</li>
