<div class='full parallax' style='background-image: url({{ "/images/Geografia/customers-bg.jpg" | absURL}}); color: #fff;'>
  <div class='row'>
    <div class='large-12 columns'>
      {{ partial "section_header.html" (dict "title" "Our customers" "color" "#333333") }}
      <div class='spacing'></div>
      <p>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat consectetuer sit amet magna adipiscing. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat consectetuer sit amet magna adipiscing.
      </p>
      <div class='spacing'></div>
    </div>
  </div>
  <div class='row'>
    <div class='large-12 columns'>
      <div class='mod modClients' data-slides_to_show='4'>
        <div class='clients'>
          {{ range .Site.Data.clients }}
            <div><img alt="" src="{{ .image | relURL }}" /></div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
  <div class='two spacing'></div>
</div>
