<!doctype html>

<html lang="en">

  {{ partial "head.html" . }}

  <body>

    {{ partial "header.html" . }}

    <div class='full parallax' style='background-image: url(/images/Geografia/portfolio-header-bg.jpg); color: #fff;'>
      <div class='row'>
        <div class='large-12 columns'>
          {{ partial "section_header.html" (dict "title" "Our projects" "tagline" "Have a look at our works" "color" "#fff" "class" "big") }}
        </div>
      </div>
      <div class='four spacing'></div>
    </div>


    <div class='full'>
      <div class='row'>
        <div class='mod modGallery'>
          <div class='gallery-nav'>
            <ul>
              <li class='current'>
                <a data-cat='all' href='#'>All</a>
              </li>
              {{ range $name, $taxonomy := .Site.Taxonomies.categories }}
                <li>
                  <a data-cat='{{ $name }}' href='#'>{{ humanize $name }}</a>
                </li>
              {{ end }}
            </ul>
          </div>

          <ul class='gallery large-block-grid-4 medium-block-grid-3 small-block-grid-2'>

            {{ range (where .Site.Pages "Section" "projects") }}
            {{ partial "project_item.html" . }}
            {{ end }}

          </ul>

        </div>
      </div>

      <div class='four spacing'></div>
    </div>
    {{ partial "footer.html" . }}
  </body>
</html>
